<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="delete-scenario-modal-vue-template">
    <script type="text/x-template" id="delete-scenario-modal">
        <!-- Modal -->
        <div ref="deleteScenarioModal" class="modal fade" id="deleteScenarioModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{scenario.delete}"/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="processForm">
                        <div class="modal-body">
                            <div v-if="error">
                                <span th:text="#{scenario.delete.error}"></span>
                            </div>
                            <div>
                                <span th:text="#{scenario.delete.confirm}"></span>
                            </div>
                            <div>
                                <span class="text-monospace">{{scenario.path}} - {{ scenario.name }}</span>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary" th:text="#{scenario.delete}"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>