<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="create-folder-modal-vue-template">
    <script type="text/x-template" id="create-folder-modal">
        <!-- Modal -->
        <div ref="createFolderModal" class="modal fade" id="createFolderModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{folder.create}"/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="processForm">
                        <div class="modal-body">
                            <div v-if="errorResult">
                                <div class="alert alert-danger" role="alert"
                                     v-for="globalError in errorResult.globalErrors">
                                    <span>{{ globalError.message }}</span>
                                </div>
                                <div class="alert alert-danger" role="alert"
                                     v-for="fieldError in errorResult.fieldErrors">
                                    <span>{{ fieldError.message }}</span>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="folderFileName" th:text="#{folder.fileName}"/>
                                <input v-model="inputFolder.fileName" type="text" class="form-control"
                                       id="folderFileName"
                                       aria-describedby="folderFileNameHelp"
                                       placeholder="Enter the file name of the folder"
                                >
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary" th:text="#{create.folder}"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>