<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="delete-project-modal-vue-template">
    <script type="text/x-template" id="delete-project-modal">
        <!-- Modal -->
        <div ref="deleteProjectModal" class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{project.delete}"/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="processForm">
                        <div class="modal-body">
                            <div v-if="errorResult">
                                <div class="alert alert-danger" role="alert"
                                     v-for="globalError in errorResult.globalErrors">
                                    <span>{{ globalError.message }}</span>
                                </div>
                                <div class="alert alert-danger" role="alert"
                                     v-for="fieldError in errorResult.fieldErrors">
                                    <span>{{ fieldError.message }}</span>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary" th:text="#{project.delete}"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>