<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="doc-scenario-detail-vue-template">
    <script type="text/x-template" id="doc-scenario-detail">
        <div>
            <div class="row">
                <div class="col-12">
                    <div class="card m-2" >
                        <div class="card-body">

                            <h5 class="card-title">{{ scenario.name }}</h5>
                            <p>
                                <span v-for="(tag, index) in scenario.tags"  class="badge badge-pill badge-secondary mr-1">{{ tag }}</span>
                            </p>

                            <div v-for="(step, index) in scenario.steps">
                                <div class="doc-keyword">{{ step.type }}</div>
                                <div class="doc-steptext">{{ step.text }}</div>
                                <div class="doc-docstring"  v-if="step.docstring">
                                    <pre >{{ step.docstring }}</pre>
                                </div>
                                <div class="doc-datatable" v-if="step.datatable">
                                    <pre >{{ step.datatable }}</pre>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>