<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="doc-feature-detail-vue-template">
    <script type="text/x-template" id="doc-feature-detail">
        <div class="card mt-2 mb-2" >
            <div class="card-body">

                <h4 class="card-title">{{ feature.name }}</h4>
                <p>
                    <span v-for="(tag, index) in feature.tags"  class="badge badge-pill badge-secondary mr-1"> {{ tag }} </span>
                </p>

                <p class="card-text">{{ feature.description }}</p>

                <div class="row" v-if="feature.backgroundSteps.length > 0">
                    <div class="col-12">
                        <div class="card m-2" >
                            <div class="card-body">

                                <h5 class="card-title" th:text="#{doc.background}" />
                                <div v-for="(step, index) in feature.backgroundSteps">
                                    <div class="doc-keyword">{{ step.type }}</div>
                                    <div class="doc-steptext">{{ step.text }}</div>
                                    <div class="doc-docstring"  v-if="step.docstring">
                                        <pre >{{ step.docstring }}</pre>
                                    </div>
                                    <div class="doc-datatable" v-if="step.datatable">
                                        <pre >{{ step.datatable }}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <doc-scenario-list
                        v-bind:scenarios="this.scenarios"
                >
                </doc-scenario-list>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>