<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="feature-detail-vue-template">
    <script type="text/x-template" id="feature-detail">
        <form v-if="show">
            <delete-feature-modal
                    :feature="feature">
            </delete-feature-modal>
            <div class="card mb-4 ">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-file-signature"></i>
                                    </span>
                        </div>
                        <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        {{ feature.path }}
                                    </span>
                        </div>
                        <input class="form-control" type="text"
                               th:placeholder="#{feature.filename.placeholder}"
                               :value="getFileNameWithoutSuffix(feature)"
                        >
                        <div class="input-group-append mr-auto">
                            <span class="input-group-text">.feature</span>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger btn-sm ml-auto pull-right text-right" type="button"
                                    data-toggle="modal"
                                    data-target="#deleteFeatureModal"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <div class="form-group">
                        <input class="form-control form-control-lg font-weight-bold" type="text"
                               th:placeholder="#{feature.name.placeholder}"
                               v-model="feature.name"
                        >
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"
                                  th:placeholder="#{feature.description.placeholder}"
                                  rows="3"
                                  v-model="feature.description"
                        ></textarea>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <span class="font-weight-bold" th:text="#{scenario.background}"></span>
                        </div>
                        <div class="card-body">
                            <step-list
                                    v-bind:steps="this.feature.backgroundSteps">

                            </step-list>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <span class="font-weight-bold" th:text="#{scenarios}"></span>
                            <button type="button" class="btn btn-sm btn-outline-secondary float-right" data-toggle="modal" data-target="#createScenarioModal">
                                <i class="fas fa-handshake"></i> <span th:text="#{scenario.create}"></span>
                            </button>
                        </div>
                        <div class="card-body">
                            <scenario-list
                                    v-bind:scenarios="this.scenarios"
                            >
                            </scenario-list>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-muted form-inline">
                    <tag-list-input
                            v-bind:tags="this.feature.tags"
                    >
                    </tag-list-input>
                </div>
                <div class="fixedButtons">
                    <button @click="saveFeature" class="btn btn-primary" type="button">
                        <i class="far fa-save"></i> <span th:text="#{save}"></span>
                    </button>
                </div>
            </div>
        </form>
    </script>
</th:block>
</body>
</html>