<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="feature-list-vue-template">
    <script type="text/x-template" id="feature-list">
        <div>

            <div class="row">
                <div v-for="(feature, index) in features" class="col-lg-4 col-md-6 col-sm-12">
                    <feature-card
                            v-bind:feature="feature"
                    >
                    </feature-card>


                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>