<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<th:block th:fragment="general-vue-templates">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var currentProject = /*[[${currentProject}]]*/ null;
        console.log(currentProject);
        var selectedTreeItem = /*[[${selectedTreeItem}]]*/ null;
        /*]]>*/
    </script>
    <th:block th:replace="fragments/header-projects-vue.html :: header-projects-vue-template"/>
    <th:block th:replace="fragments/create-project-modal-vue.html :: create-project-modal-vue-template"/>
    <th:block th:replace="fragments/create-folder-modal-vue.html :: create-folder-modal-vue-template"/>
    <th:block th:replace="fragments/create-feature-modal-vue.html :: create-feature-modal-vue-template"/>
    <th:block th:replace="fragments/tree-sidebar-vue.html :: tree-sidebar-vue-template"/>
    <th:block th:replace="fragments/tree-sidebar-item-vue.html :: tree-sidebar-item-vue-template"/>
    <th:block th:replace="fragments/feature-list-vue.html :: feature-list-vue-template"/>
    <th:block th:replace="fragments/feature-card-vue.html :: feature-card-vue-template"/>
    <th:block th:replace="fragments/feature-detail-vue.html :: feature-detail-vue-template"/>
    <th:block th:replace="fragments/scenario-list-vue.html :: scenario-list-vue-template"/>
    <th:block th:replace="fragments/scenario-card-vue.html :: scenario-card-vue-template"/>
    <th:block th:replace="fragments/scenario-detail-vue.html :: scenario-detail-vue-template"/>
</th:block>
<th:block th:fragment="header">

    <create-project-modal
            :allprojects="allprojects">
    </create-project-modal>
    <create-folder-modal>

    </create-folder-modal>

    <create-feature-modal>

    </create-feature-modal>

    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img th:src="@{/assets/cucumber.png}" width="30" height="30" class="d-inline-block align-top" alt="">
                Gherkin-Editor
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <header-projects
                            :allprojects="allprojects">
                    </header-projects>
                    <a class="nav-item nav-link" th:classappend="${currentNav == 'editor'} ? active"
                       th:if="${currentProject}" th:href="@{'/' + ${currentProject.id} + '/folder'}"
                       th:text="#{editor}"/>
                    <a class="nav-item nav-link" th:classappend="${currentNav == 'documentation'} ? active"
                       th:if="${currentProject}" th:href="@{'/' + ${currentProject.id} + '/documentation'}"
                       th:text="#{documentation}"/>
                </div>
            </div>
        </nav>
    </header>
</th:block>
    
    
<footer th:fragment="footer">


        
</footer>

<th:block th:fragment="jsfiles">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>

</body>
</html>