<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/open-iconic-bootstrap.css}"/>
</head>
<body>
    <th:block th:fragment="general-vue-templates">
        <script type="text/x-template" id="header-projects">
            <div class="nav-item dropdown">
                <a th:class="${currentProject}? 'nav-link dropdown-toggle active' : 'nav-link dropdown-toggle'" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="${currentProject}? ${currentProject.id} : #{project.choose}"/>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:with="baseUrl=test"  v-for="project in allprojects" :href="'/' + project.id + '/scenarios'">{{ project.id }}</a>
                    <em><a class="dropdown-item " data-toggle="modal" data-target="#createProjectModal" th:text="#{project.create}">create project</a></em>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="create-project-modal">
            <!-- Modal -->
            <div ref="createProjectModal" class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" th:text="#{project.create}"/>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form @submit.prevent="processForm">
                            <div class="modal-body">
                                    <div v-if="errorResult">
                                        <div class="alert alert-danger" role="alert" v-for="globalError in errorResult.globalErrors">
                                            <span>{{ globalError.message }}</span>
                                        </div>
                                        <div class="alert alert-danger" role="alert" v-for="fieldError in errorResult.fieldErrors">
                                            <span>{{ fieldError.message }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="projectId" th:text="#{project.id}"/>
                                        <input v-model="inputProject.id" type="text" class="form-control" id="projectId" aria-describedby="projectIdHelp" placeholder="Enter the id of the project" autofocus>
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
                                <button type="submit" class="btn btn-primary" th:text="#{create.project}"/>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </script>
    </th:block>
    <th:block th:fragment="header">
        <create-project-modal
                :allprojects="allprojects">
        </create-project-modal>

        <header  class="mb-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img th:src="@{/assets/cucumber.png}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Gherkin-Editor
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <header-projects
                                :allprojects="allprojects">
                        </header-projects>

                        <a class="nav-item nav-link" th:if="${currentProject}" th:href="@{'/' + ${currentProject.id} + '/scenarios'}" th:text="#{scenarios}"/>
                        <a class="nav-item nav-link" th:if="${currentProject}" href="#"th:text="#{actions}"/>
                        <a class="nav-item nav-link" th:if="${currentProject}" th:href="@{'/' + ${currentProject.id} + '/documentation'}" th:text="#{documentation}"/>
                    </div>
                </div>
            </nav>
        </header>
    </th:block>
    
    <footer th:fragment="footer">


    </footer>

    <th:block th:fragment="jsfiles">
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/vue.js}"></script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </th:block>

</body>
</html>