<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="global-alert-box-vue-template">
    <script type="text/x-template" id="global-alert-box">
        <div ref="globalAlertBox" class="alert-box">
            <div v-for="(alert, index) in alerts" :class="alert.type" class="alert alert-dismissible fade show"
                 role="alert">
                {{ alert.text }}
                <button v-if="alert.dismissible" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>