<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="scenario-detail-vue-template">
    <script type="text/x-template" id="scenario-detail">
        <form>
            <delete-scenario-modal
                    :scenario="scenario">
            </delete-scenario-modal>
            <div class="card mb-4 ">
                <div class="card-header">
                    <div class="form-row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-file-signature"></i>
                                    </span>
                                </div>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        {{ scenario.path }}
                                    </span>
                                </div>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        {{ scenario.name }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 d-flex justify-content-end">
                            <button class="btn btn-danger btn-sm ml-auto pull-right text-right" data-toggle="modal"
                                    data-target="#deleteScenarioModal" type="button"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text"
                               th:placeholder="#{scenario.name.placeholder}"
                               :value="scenario.name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"
                                  th:placeholder="#{scenario.description.placeholder}"
                                  rows="3"
                        >{{ scenario.description }}</textarea>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <span class="font-weight-bold" th:text="#{scenario.steps}"></span>
                        </div>
                        <div class="card-body">
                            <step-list
                                    v-bind:steps="this.scenario.steps">

                            </step-list>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <div class="card-footer text-muted form-inline">
                    <i class="fas fa-tags"></i>
                    <span v-for="(tag, index) in scenario.tags" class="ml-2">
                        <tag-input
                                v-bind:tag="tag"
                        >
                        </tag-input>
                    </span>
                    <button @click="addTag" class="btn btn-outline-secondary btn-sm ml-2" type="button"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
        </form>
    </script>
</th:block>
</body>
</html>