<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="scenario-list-vue-template">
    <script type="text/x-template" id="scenario-list">
        <div>

            <div class="row">
                <div v-for="(scenario, index) in scenarios" class="col-lg-4 col-md-6 col-sm-12">
                    <drag :transfer-data="{ group: 'scenario', scenario }">
                        <scenario-card
                                v-bind:scenario="scenario"
                        >
                        </scenario-card>
                    </drag>

                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>