<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="scenario-detail-vue-template">
    <script type="text/x-template" id="scenario-detail">
        <form>
            <delete-scenario-modal
                    :scenario="scenario">
            </delete-scenario-modal>
            <div class="card mb-4 ">
                <div class="card-header">
                    <div class="input-group w-100">
                        <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-file-signature"></i>
                                    </span>
                        </div>
                        <div class="input-group-prepend input-group-w100">
                            <span class="input-group-text">
                                <span>{{ scenario.path }} </span>
                                <i class="fas fa-chevron-right"></i>
                                <span>{{ scenario.name }} </span>
                            </span>
                        </div>
                        <div class="input-group-append mr-auto">
                            <button class="btn btn-outline-danger btn-sm ml-auto pull-right text-right"
                                    data-toggle="modal"
                                    data-target="#deleteScenarioModal" type="button"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text"
                               th:placeholder="#{scenario.name.placeholder}"
                               v-model="scenario.name"
                        >
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"
                                  th:placeholder="#{scenario.description.placeholder}"
                                  rows="3"
                                  v-model="scenario.description"
                        ></textarea>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-shoe-prints"></i> <span class="font-weight-bold"
                                                                     th:text="#{scenario.steps}"></span>
                        </div>
                        <div class="card-body">
                            <step-list
                                    v-bind:steps="this.scenario.steps">

                            </step-list>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <a class="clickable-card" data-toggle="collapse" href="#collapseExamples">
                            <div class="card-header">
                                <i class="fas fa-table"></i> <span class="font-weight-bold"
                                                                   th:text="#{scenario.examples}"></span> <i
                                    class="fas fa-chevron-circle-down float-right"></i>
                            </div>
                        </a>
                        <div id="collapseExamples" class="collapse">
                            <div class="card-body">
                                <data-table>
                                </data-table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted form-inline">
                    <tag-list-input
                            v-bind:tags="this.scenario.tags"
                    >
                    </tag-list-input>

                    <button @click="addTag" class="btn btn-outline-secondary btn-sm ml-2" type="button"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
            <div class="fixedButtons">
                <button @click="saveScenario" class="btn btn-primary" type="button">
                    <i class="far fa-save"></i> <span th:text="#{save}"></span>
                </button>
            </div>
        </form>
    </script>
</th:block>
</body>
</html>