<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="step-input-vue-template">
    <script type="text/x-template" id="step-input">
        <div class="input-group step">
            <div class="input-group-prepend">
                <select v-model="step.type">
                    <option value="GIVEN">Given</option>
                    <option value="AND">And</option>
                    <option value="BUT">But</option>
                    <option value="WHEN">When</option>
                    <option value="THEN">Then</option>
                </select>
            </div>
            <div class="step-input-wrapper">
                <input class="form-control" type="text"
                       th:placeholder="#{step.text.placeholder}"
                       v-model="step.text"
                       @focus="focused = true"
                       @blur="focused = false"
                >
                <div class="suggestion-list list-group">
                    <a class="list-group-item list-group-item-action"
                       v-for="(suggestion) in suggestions"
                       @click="step.text = suggestion"
                       @mousedown.prevent
                    >
                        {{ suggestion }}
                    </a>
                </div>
            </div>
            <div class="input-group-append menu">
                <a class="input-group-text" href="#" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span><i class="fas fa-ellipsis-v"></i></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:text="#{step.create.freetextparameter}"></a>
                    <a class="dropdown-item" th:text="#{step.create.tableparameter}"></a>
                    <a class="dropdown-item" @click="deleteStep(step)" th:text="#{step.delete}"></a>
                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>