<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="step-list-vue-template">
    <script type="text/x-template" id="step-list">
        <div>
            <div class="row form-group step-list">
                <draggable :list="steps" class="col-12">
                    <div v-for="(step, index) in steps">
                        <step-input
                                v-bind:step="step"
                        >
                        </step-input>
                    </div>
                </draggable>
            </div>
            <div class="row form-group add-step">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select v-model="inputStep.type">
                                <option value="GIVEN">Given</option>
                                <option value="AND">And</option>
                                <option value="BUT">But</option>
                                <option value="WHEN">When</option>
                                <option value="THEN">Then</option>
                            </select>
                        </div>
                        <div class="step-input-wrapper">
                            <input class="form-control" type="text"
                                   th:placeholder="#{step.add.text.placeholder}"
                                   v-model="inputStep.text"
                                   ref="inputText"
                                   @keyup.enter="addStep(inputStep)"
                                   @focus="focused = true"
                            >
                            <div class="suggestion-list list-group">
                                <a class="list-group-item list-group-item-action"
                                   v-for="(suggestion) in suggestions"
                                   @click="inputStep.text = suggestion"
                                   @mousedown.prevent
                                >
                                    {{ suggestion }}
                                </a>
                            </div>
                        </div>
                        <div class="input-group-append">
                            <button @click="addStep(inputStep)" class="btn btn-outline-primary" type="button"><i
                                    class="fas fa-plus"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>