<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="tag-input-vue-template">
    <script type="text/x-template" id="tag-input">
        <div class="input-group">
            <input class="form-control form-control-sm" type="text"
                   th:placeholder="#{scenario.tag.placeholder}"
                   v-model="tag"
            >
            <div class="input-group-append">
                <button @click="remove" class="btn btn-outline-secondary btn-sm" type="button"><i
                        class="fas fa-trash"></i></button>
            </div>
        </div>
    </script>
</th:block>
</body>
</html>