<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="tree-sidebar-vue-template">
    <script type="text/x-template" id="tree-sidebar">
        <div>
            <div class="d-flex">
                <div class="ml-auto">
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                            data-target="#createFolderModal">
                        <i class="fas fa-folder-plus"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                            data-target="#createFeatureModal">
                        <i class="fas fa-file-signature"></i>
                    </button>
                </div>
            </div>
            <div>
                <ul class="sidebar-tree-root">
                    <tree-sidebar-item
                            class="item"
                            v-for="(item, index) in roots"
                            :key="index"
                            :item="item"
                    >
                    </tree-sidebar-item>
                </ul>

            </div>
        </div>
    </script>
</th:block>
</body>
</html>