<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="tree-sidebar-item-vue-template">
    <script type="text/x-template" id="tree-sidebar-item">
        <li>
            <div class="sidebar-list-element"
                 :class="{'bg-secondary text-white': isSelected}"
                 @click="select">

            <span v-if="item.type === 'FOLDER'">
                <span @click="toggle">
                    <i v-if="open" class="fas fa-chevron-circle-down"></i>
                    <i v-else="open" class="fas fa-chevron-circle-right"></i>
                </span>
                <span>{{ item.model.fileName }}</span>
            </span>
                <span v-else-if="item.type === 'FEATURE'"><i class="fas fa-file"></i> {{ item.model.fileName }}</span>

            </div>
            <ul v-show="open" v-if="item.type === 'FOLDER'">

                <tree-sidebar-item
                        class="item"
                        v-for="(item, index) in item.children"
                        :key="index"
                        :item="item"
                >
                </tree-sidebar-item>
            </ul>
        </li>

    </script>
</th:block>
</body>
</html>