<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragments/general.html :: headerfiles"/>

</head>
    <body data-spy="scroll" data-target="#toc">
        <th:block th:replace="fragments/general.html :: general-vue-templates"/>
        <div id="vue-root" class="container-fluid">
            <th:block th:replace="fragments/general.html :: header"/>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <doc-toc-sidebar>
                    </doc-toc-sidebar>
                </div>
                <main role="main" class="col-lg-9 col-md-8">
                    <doc-feature-list>
                    </doc-feature-list>
                </main>
            </div>
        </div>

        <th:block th:replace="fragments/general.html :: footer"/>
        <th:block th:replace="fragments/general.html :: jsfiles"/>
    </body>
</html>
