<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragments/general.html :: headerfiles"/>

</head>
    <body>

        <th:block th:replace="fragments/general.html :: general-vue-templates"/>
        <div id="vue-support">
            <th:block th:replace="fragments/general.html :: header"/>
            <h1>COMING SOON ...</h1>
        </div>

        <th:block th:replace="fragments/general.html :: footer"/>
        <th:block th:replace="fragments/general.html :: jsfiles"/>
    </body>
</html>
