<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragments/general.html :: headerfiles"/>

</head>
<body>

<th:block th:replace="fragments/general.html :: general-vue-templates"/>


<div id="vue-editor">
    <th:block th:replace="fragments/general.html :: header"/>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-3 col-md-4 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <div class="card">
                        <div class="card-body">
                            <tree-sidebar
                                    v-bind:roots="treeRoots">
                            </tree-sidebar>
                        </div>
                    </div>

                </div>
            </nav>
            <main role="main" class="col-lg-9 col-md-8 ml-sm-auto px-4">
                <feature-list v-if="selectedTreeElement.type == 'FOLDER'">
                </feature-list>

                <feature-detail v-if="selectedTreeElement.type == 'FEATURE'"
                                v-bind:feature="selectedTreeElement.model">
                </feature-detail>

                <scenario-detail v-if="selectedTreeElement.type == 'SCENARIO'"
                                 v-bind:scenario="selectedTreeElement.model">
                </scenario-detail>

            </main>
        </div>
    </div>
</div>


<th:block th:replace="fragments/general.html :: footer"/>
<th:block th:replace="fragments/general.html :: jsfiles"/>
<script type="text/javascript" th:src="@{/js/editor.js}"></script>
</body>
</html>
