<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Gherkin Editor</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragments/general.html :: headerfiles"/>

</head>
    <body>
        <th:block th:replace="fragments/general.html :: general-vue-templates"/>

        <script type="text/x-template" id="homepage-projects">
            <div class="row">
                <div class="col-sm-4 p-2" v-for="project in allprojects">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">{{ project.id }}</h5>
                            <a :href="'/' + project.id + '/scenarios'" class="card-link" th:text="#{scenarios}">scenarios</a>
                            <a :href="'/' + project.id + '/documentation'" class="card-link" th:text="#{documentation}">documentation</a>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <div id="vue-support">
            <th:block th:replace="fragments/general.html :: header"/>

            <div class="container" id="homepage-project-list">
                <homepage-projects
                        :allprojects="allprojects">
                </homepage-projects>
                <div class="d-flex">
                    <div class="ml-auto">
                        <a class="btn btn-primary" role="button" href="/project/create" th:text="#{project.create}"/>
                    </div>
                </div>
            </div> <!-- /container -->
        </div>


        <th:block th:replace="fragments/general.html :: footer"/>
        <th:block th:replace="fragments/general.html :: jsfiles"/>
        <script type="text/javascript" th:src="@{/js/homepage.js}"></script>
    </body>
</html>
