<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragments/general.html :: headerfiles"/>

</head>
    <body>
        <th:block th:replace="fragments/general.html :: header"/>
        <div class="container" id="homepage-project-card-comtainer">
            <template v-for="project in projects">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{project}}</h5>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </template>

        </div> <!-- /container -->

        <th:block th:replace="fragments/general.html :: footer"/>
        <th:block th:replace="fragments/general.html :: jsfiles"/>
        <script type="text/javascript" th:src="@{/js/homepage.js}"></script>
    </body>
</html>
