<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragments/general.html :: headerfiles"/>

</head>
    <body>
        <th:block th:replace="fragments/general.html :: header"/>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <!-- item template -->
                        <script type="text/x-template" id="item-template">
                            <li>
                                <div
                                        :class="{selected: isSelected}"
                                        @click="select">
                                    <span @click="toggle" v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
                                    {{ model.name }}
                                </div>
                                <ul v-show="open" v-if="isFolder">
                                    <item
                                            class="item"
                                            v-for="(model, index) in model.children"
                                            :key="index"
                                            :model="model">
                                    </item>
                                </ul>
                            </li>

                        </script>

                        <!-- the demo root element -->
                        <ul id="scenario-sidebar">

                            <item
                                    class="item"
                                    v-for="(model, index) in treeData"
                                    :key="index"
                                    :model="model">
                            </item>
                        </ul>
                        <button type="button" class="btn btn-info" @click="addChild">
                            <span class="oi oi-folder" title="create folder" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-info" @click="addChild">
                            <span class="oi oi-file" title="create feature file" aria-hidden="true"></span>
                        </button>


                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div th:text="${scenarios}">test</div>
                    <div th:each="scenario : ${scenarios}">
                        <div th:text="${scenario.name}">test</div>
                    </div>
                    <div th:text="${list1}">test</div>
                    <div th:each="el1 : ${list1}">
                        <div th:text="${el1}">test</div>
                    </div>
                    <div th:text="${list2}">test</div>
                    <div th:each="el2 : ${list2}">
                        <div th:text="${el2}">test</div>
                        <div th:text="${el2.name}">test</div>
                    </div>
                    <div th:text="${scenarios}">test</div>
                    <div th:each="scenario : ${scenarios}">
                        <div th:text="${scenario.name}">test</div>
                    </div>
                    <div th:text="${list1}">test</div>
                    <div th:each="el1 : ${list1}">
                        <div th:text="${el1}">test</div>
                    </div>
                    <div th:text="${list2}">test</div>
                    <div th:each="el2 : ${list2}">
                        <div th:text="${el2}">test</div>
                        <div th:text="${el2.name}">test</div>
                    </div>
                    <div th:text="${scenarios}">test</div>
                    <div th:each="scenario : ${scenarios}">
                        <div th:text="${scenario.name}">test</div>
                    </div>
                    <div th:text="${list1}">test</div>
                    <div th:each="el1 : ${list1}">
                        <div th:text="${el1}">test</div>
                    </div>
                    <div th:text="${list2}">test</div>
                    <div th:each="el2 : ${list2}">
                        <div th:text="${el2}">test</div>
                        <div th:text="${el2.name}">test</div>
                    </div>
                    <div th:text="${scenarios}">test</div>
                    <div th:each="scenario : ${scenarios}">
                        <div th:text="${scenario.name}">test</div>
                    </div>
                    <div th:text="${list1}">test</div>
                    <div th:each="el1 : ${list1}">
                        <div th:text="${el1}">test</div>
                    </div>
                    <div th:text="${list2}">test</div>
                    <div th:each="el2 : ${list2}">
                        <div th:text="${el2}">test</div>
                        <div th:text="${el2.name}">test</div>
                    </div>
                    <div th:text="${scenarios}">test</div>
                    <div th:each="scenario : ${scenarios}">
                        <div th:text="${scenario.name}">test</div>
                    </div>
                    <div th:text="${list1}">test</div>
                    <div th:each="el1 : ${list1}">
                        <div th:text="${el1}">test</div>
                    </div>
                    <div th:text="${list2}">test</div>
                    <div th:each="el2 : ${list2}">
                        <div th:text="${el2}">test</div>
                        <div th:text="${el2.name}">test</div>
                    </div>

                </main>
            </div>
        </div>


        <th:block th:replace="fragments/general.html :: footer"/>
        <th:block th:replace="fragments/general.html :: jsfiles"/>
        <script type="text/javascript" th:src="@{/js/scenario.js}"></script>
    </body>
</html>
