<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <th:block th:replace="fragments/general.html :: headerfiles"/>

</head>
<body>

<th:block th:replace="fragments/general.html :: general-vue-templates"/>
<script type="text/x-template" id="scenario-sidebar">
    <div>
        <div class="d-flex">
            <div class="ml-auto">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#createFolderModal">
                    <i class="fas fa-folder-plus"></i>
                </button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#createFeatureModal">
                    <i class="fas fa-file-signature"></i>
                </button>
            </div>
        </div>
        <div>
            <ul class="sidebar-tree-root">
                <scenario-sidebar-treeitem
                        class="item"
                        v-for="(item, index) in roots"
                        :key="index"
                        :item="item"
                >
                </scenario-sidebar-treeitem>
            </ul>

        </div>
    </div>
</script>

<script type="text/x-template" id="scenario-sidebar-treeitem">
    <li>
        <div class="sidebar-list-element"
             :class="{'bg-secondary text-white': isSelected}"
             @click="select">

            <span v-if="item.type === 'FOLDER'">
                <span @click="toggle">
                    <i v-if="open" class="fas fa-chevron-circle-down"></i>
                    <i v-else="open" class="fas fa-chevron-circle-right"></i>
                </span>
                <span>{{ item.model.fileName }}</span>
            </span>
            <span v-else-if="item.type === 'FEATURE'"><i class="fas fa-file"></i> {{ item.model.fileName }}</span>

        </div>
        <ul v-show="open" v-if="item.type === 'FOLDER'">

            <scenario-sidebar-treeitem
                    class="item"
                    v-for="(item, index) in item.children"
                    :key="index"
                    :item="item"
            >
            </scenario-sidebar-treeitem>
        </ul>
    </li>

</script>

<script type="text/x-template" id="scenario-list">
    <div>
        <div v-for="(scenario, index) in scenarios" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ scenario.name }}</h5>
                <p class="card-text">{{ scenario.description }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</script>


<div id="vue-support">
    <th:block th:replace="fragments/general.html :: header"/>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <div class="card">
                        <div class="card-body">
                            <scenario-sidebar>
                            </scenario-sidebar>
                        </div>
                    </div>

                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <scenario-list>
                </scenario-list>

            </main>
        </div>
    </div>
</div>


<th:block th:replace="fragments/general.html :: footer"/>
<th:block th:replace="fragments/general.html :: jsfiles"/>
</body>
</html>
