.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signin {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.sidebar ul {
    list-style-type: none;
    -webkit-padding-start: 15px;
}

.sidebar ul div.selected {
    background-color: red;
}

.sidebar ul div.sidebar-list-element {
    padding-left: 3px;
    cursor: pointer;
}

.sidebar .sidebar-tree-root {
    padding-left: 0px;
    padding-top: 3px;
}

.sidebar i.fa-file {
    padding-left: 2px;
    padding-right: 3px;
}

.form-group.required label:after {
    content: "*";
}

a.clickable-card,
a.clickable-card:hover {
    color: inherit;
    text-decoration: none;
}

a.clickable-card .card:hover {
    border-color: #007bff;
}

.treeSidebarToggler i {
    vertical-align: middle;
    display: inline-grid;
    line-height: 1.5em;
}

.fixedButtons {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.input-group-w100 {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
}

.input-group-w100 .input-group-text {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    display: inline;
    text-align: left;
}

.alert-box {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.suggestion-list {
    position: absolute;
    z-index: 100;
}

.step-input-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    position: relative;
    display: block;
    width: 1%;
}

.step-list .step .menu a span {
    width: 14px;
}

.step-list .step {
    margin-bottom: 5px;
}

.step-list .step .step-type-select{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #e9ecef;
}
.step-list .step .step-input-wrapper input{
    border-radius: 0px;
}

.step-input-parameter {
    padding-left: 20px;
    margin-top: -1px;
}

.doc-keyword {
    color: red;
    width: 50px;
    float: left;
}

.doc-steptext {
}

.doc-docstring {
    padding-left: 50px;
}

.doc-datatable{
    padding-left: 50px;
}

.doc-datatable pre{
    font-family: monospace;
    margin: 0px;
}

.doc-docstring pre{
    font-family: monospace;
    margin: 0px;
}



.sticky-top {
    top: 10px;
}

nav[data-toggle="toc"] {
    top: 42px;
}

/* small screens */
@media (max-width: 768px) {
    /* override stickyness so that the navigation does not follow scrolling */
    nav[data-toggle="toc"] {
        margin-bottom: 0px;
        position: static;
    }

    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle="toc"] .nav .active .nav {
        display: none;
    }
    /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
    /*
    nav[data-toggle='toc'] .nav .nav {
      display: block;
    }
    */
}