.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signin {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.sidebar ul {
    list-style-type: none;
    -webkit-padding-start: 15px;
}

.sidebar ul div.selected {
    background-color: red;
}

.sidebar ul div.sidebar-list-element {
    padding-left: 3px;
    cursor: pointer;
}

.sidebar .sidebar-tree-root {
    padding-left: 0px;
    padding-top: 3px;
}

.sidebar i.fa-file {
    padding-left: 2px;
    padding-right: 3px;
}

.form-group.required label:after {
    content: "*";
}